$color-black: #000;
$color-black-opacity: rgba(0, 0, 0, 0.381);
$color-white: #F8F5F5;
$color-white-border: rgba(255, 255, 255, 0.107);
$color-turquoise: #57E0E9;
$color-purple: #B367FC;
$color-blue1: #5578E2;
$color-blue2: #5B58EC;

$text-size-small: 12px;
$text-size-medium: 14px;
$text-size-title: 18px;
$text-size-h1: 32px;

$text-font: 'Century Gothic', sans-serif;

$title-padding: 0 0 20px 0;